body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.75em;
  color: #290dc5;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.user-log {
  margin-left: 50px;
  margin-top: 8%;
}

/* .center-btn {
  margin-top: 50px;
  text-align: center;
} */

header {
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
}

header .logo {
  flex-grow: 1;
  /* padding-top: 0.25em; */
}
header .logo img {
  width: 15em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(0, 26, 255);
  /* box-shadow: #d3d3d3; */
}

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

section {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: '';
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #3412f3;
  left: 50%;
  margin-left: -30px;
}

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #top-text {
  position: absolute;
  top: 35vh;
  color: rgb(0, 0, 0);
  text-shadow: 5px 2px #ffffff;
  z-index: 1;
}

#carousel .top-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
}

#about {
  background-color: #f1f1f1;
  padding: 20px 20px 0 20px;
}

#about p {
  /* position: absolute;
  color: #fff;
  /*  */
  flex: 3;
  line-height: 1.75em;
  font-size: 1.25em;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px #ffffff;
  z-index: 1;
}

#about #aboutimg {
  flex: 2;
  align-self: flex-end;
}

#about img {
  display: block;
  width: 100%;
  height: auto;
}

#features {
  height: 100%;
  color: #252525;
}
#features .wrap {
  display: flex;
  flex-wrap: wrap;
}
#features .feature-profile {
  flex: 0 0 100%;
}
@media (min-width: 600px) {
  #features .feature-profile {
    flex: 0 0 50%;
  }
}
@media (min-width: 960px) {
  #features .feature-profile {
    flex: 0 0 33%;
  }
}

#features .feature-profile:hover {
  color: #fff;
  background-color: #c4e0fa;
}
#features .feature-profile .headshot {
  height: 5em;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  padding-top: 10px;
}
#features .feature-profile .feature-name {
  text-align: center;
  font-size: 1.65em;
}
#features .feature-profile .feature-blurb {
  width: calc(100% - 5em);
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
  line-height: 1.75em;
}

.icon img {
  width: 5em;
  margin-left: 12em;
}

/* .footer {
  width: 100vw;
  height: 6em;
  background-color: #282cf5;
  color: #fff;
} */

#auth-form {
  padding-top: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#auth-button {
  width: 100px;
  height: 40px;
  background-color: #3412f3;
  color: white;
  font-size: 15pt;
  border-radius: 10px;
}

#nav-trio,
#navbar {
  margin-top: 8px;
  display: flex;
  align-content: center;
  justify-items: center;
}

#demo-title {
  padding-top: 250px;
  text-align: center;
}

.profile-body {
  padding-top: 100px;
  text-align: left;
  padding-left: 100px;
}

#vidRef {
  width: 650px;
  height: 450px;
  margin-right: 25px;
}
#record-page {
  text-align: center;
}
#recording-container {
  display: flex;
  justify-content: center;
}
.vid-button {
  width: 180px;
  background-color: white;
  color: #3412f3;
  border-color: #3412f3;
  font-size: 12pt;
  border-width: 3px;
  height: 60px;
  border-radius: 8px;
  margin: 45px 20px 20px 20px;
}
#button-container {
  display: flexbox;
  flex-direction: column;
  justify-items: center;
}
#results {
  background-color: #01baef;
  color: white;
  width: 250px;
  height: 100px;
  border-color: white;
  font-size: 20pt;
}
#middle {
  background-color: #3412f3;
  color: white;
}
